fastapi
uvicorn[standard]
pandas
sentence-transformers
transformers
torch
faiss-cpu
scikit-learn
python-multipart
pillow
langchain
langchain-community
langchain-huggingface
matplotlib
seaborn
jupyter
ipykernel
requests
python-dotenv
pydantic
google-generativeai
clip-by-openai